// Here you can add other styles

.sidebar{
  background:$cui-sidebar-bg ;
}
.sidebar-nav .nav-link:hover, .sidebar-nav .nav-link.active {
  color: $cui-sidebar-nav-link-hover-color;
  background: $cui-sidebar-nav-link-hover-bg;
}
// .custom-sidebar-nav-link:hover{
//   color: #ffffff; // Couleur du texte au survol
//   background-color: #2980b9; // Couleur de fond au survol
// }


// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}
