// Variable overrides
//
// If you want to customize your project please add your variables below.
// $cui-sidebar-nav-link-active-color: white;
// $cui-sidebar-nav-link-active-bg : yellow;
// $cui-body-bg: green;
$cui-sidebar-bg: #116831; // Remplacez par la couleur souhaitée
$cui-sidebar-nav-link-hover-color: #ffffff; // Couleur du texte au survol
$cui-sidebar-nav-link-hover-bg: #b9ae0f; // Couleur de fond au survol
$enable-deprecation-messages: false !default;
